@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



form{
  
    background-color: white;
    width: 100%;
   
  
   
}
section{
    background-color: bisque;

    position: relative;
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
 
 
}
body{
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
    background: rgb(245, 243, 243);
}

table, th, tr, td{
    /* border: 1px solid black; */
    border-collapse: collapse;
    
}
tr{
    height: 50px;
    border-bottom: 1px solid #ddd;
      
}

.form-control{
    width: 300px;
}
th{
    padding-left: 10px;
}
#col1{
    width: 10%;
    padding: 5px;
    text-align: center;
}
#col2{
    width: 40%;
    padding: 5px;
}
#col3{
    width: 20%;
    padding: 5px;
}
#col4{
    width: 10%;
    padding: 5px;
}
#col5{
    width: 20%;
    padding: 5px;
}
.column{
    width: 100%;
}
.sub{
    background-color: blue;
    color:#ddd;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 36%;
}
.pri{
    background-color: rgb(5, 146, 54);
    color:#ddd;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 50px;
    margin-left: 1%;
}
@media print{
    body *:not(.container):not(.container *){
        visibility: hidden;
    }
    .container{
        position: absolute;
        top: 0;
        left: 0;
    }
}